 #calculaitor { 
    font-family: Arial, sans-serif;
    background-color: rgb(63, 62, 62);
    border-radius: 15vw;
    max-width: 500px;
    overflow: hidden;
    padding: 10px; 
}

/* BUTTON-BEREICH */
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px; 
    padding: 10px;
}

/* DISPLAY */
#display {
    width: 100%; 
    padding: 20px; 
    font-size: 3rem; 
    text-align: left;
    border: none;
    background-color: rgb(84, 81, 81);
    color: white;
}
/* DRAGONBALL BILDER */
img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0px;
    border: none;
    cursor: pointer;
}

/* BUTTON-STIL */
button {
    width: 100px;
    aspect-ratio: 1 / 1;
    margin: 5px;
    border-radius: 10vw;
    border: none;
    background-color: rgb(84, 81, 81);
    color: white;
    font-size: 6vw;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    background-color: rgb(197, 197, 197);
    transform: scale(1.1);
}

button:active {
    background-color: rgb(189, 189, 189);
}
/* OPERATOR-BUTTONS */
.operator-btn {
    background-color: orange;
    color: black;
}

/* ZENTRIERUNG */
body {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    background-image: url(Img/M152Shenron-EX.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* media stuf*/
@media (max-width: 600px) {
    #calculaitor {
        border-radius: 10vw;
        max-width: 95vw;
        padding: 5vw;
    }

    #display {
        font-size: 2rem;
        padding: 10px;
    }

    button {
        width: 100%;
        font-size: 8vw;
        margin: 3px;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    #keys {
        gap: 5px;
        padding: 5px;
    }
}
